.contato-icones {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.contato-icones .icone {
  font-size: 35px;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.contato-icones .icone:hover {
  transform: scale(1.2);
  color: #48a8ff;
}

[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}