.btn-continuar {
  padding: 12px 25px;
  background: #ffd000;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}
.btn-continuar:hover {
  background: #000;
  color: #ffd000;
  box-shadow: 0 0 15px #ffd000;
}
